// use this mixin to make your div a wrapper to your columns
@mixin row($option: none) {
  width: 100%;
  @if $option == full {
    *zoom: 1;
  }
  @else if $option == inside {
    max-width: gridMaxWidth();
    margin-left: -$gridGutter/2;
    margin-right: -$gridGutter/2;
    *zoom: 1;
  }
  @else {
    max-width: gridMaxWidth();
    margin: 0 auto;
    *zoom: 1;
  }
  &:before, &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

// use this mixin to use it as a column, pass a number of columns as an argument
@mixin col($columns: $gridColumns) {
  width: columnWidth($columns);
  float: left;
  padding: 0 $gridGutter/2;
}

// push and pull, pass and amount of columns as an argument
@mixin push($columns: 0) {
  position: relative;
  left: columnWidth($columns);
}
@mixin pull($columns: 0) {
  position: relative;
  right: columnWidth($columns);
}