%mb {
  margin-bottom: $lh;
  margin-bottom: $lh / $fz * 1rem;
}
%bold {
  margin-bottom: $lh;
}
b, strong {
  @extend %bold;
}
em, i {
  font-style: italic;
}
a {
  color: $color1;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  &:hover, &:focus, &:active {
    outline: 0;
    text-decoration: underline;
  }
}
p {
  @extend %mb;
}
h1, .h1 {
  @include fz($h1);
  @extend %bold;
  @extend %mb;
}
h2, .h2 {
  @include fz($h2);
  @extend %bold;
  @extend %mb;
}
h3, .h3 {
  @include fz($h3);
  @extend %bold;
  @extend %mb;
}
h4, .h4 {
  @include fz($h4);
  @extend %bold;
  @extend %mb;
}
h5, .h5 {
  @include fz($h5);
  font-weight: normal;
  @extend %mb;
}
h6, .h6 {
  @include fz($h6);
  font-weight: normal;
  @extend %mb;
}
ul, ol {
  @extend %mb;
  ul, ol {
    margin: 0 $lh;
    margin: 0 ($lh / $fz * 1rem);
  }
}