b, strong {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a {
  color: $color1;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  &:hover, &:focus, &:active {
    outline: 0;
    text-decoration: underline;
  }
}
h1 {
  @include fz($h1);
  font-weight: bold;
}
h2 {
  @include fz($h2);
  font-weight: bold;
}
h3 {
  @include fz($h3);
  font-weight: bold;
}
h4 {
  @include fz($h4);
  font-weight: bold;
}
h5 {
  @include fz($h5);
  font-weight: normal;
}
h6 {
  @include fz($h6);
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: $lh;
  margin-bottom: $lh / $fz * 1rem;
}
ul, ol {
  margin: $lh;
  margin: $lh / $fz * 1rem;
  ul, ol {
    margin: 0 $lh;
    margin: 0 ($lh / $fz * 1rem);
  }
}