%mb {
  margin-bottom: pxtorem($lh);
}
%bold {
  font-weight: 700;
}
b, strong {
  @extend %bold;
}
em, i {
  font-style: italic;
}
a {
  color: $color1;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  &:hover, &:focus, &:active {
    outline: 0;
    text-decoration: underline;
  }
}
p {
  @extend %mb;
}
h1, .h1 {
  font-size: pxtorem($h1);
  @extend %bold;
  @extend %mb;
}
h2, .h2 {
  font-size: pxtorem($h2);
  @extend %bold;
  @extend %mb;
}
h3, .h3 {
  font-size: pxtorem($h3);
  @extend %bold;
  @extend %mb;
}
h4, .h4 {
  font-size: pxtorem($h4);
  @extend %bold;
  @extend %mb;
}
h5, .h5 {
  font-size: pxtorem($h5);
  font-weight: normal;
  @extend %mb;
}
h6, .h6 {
  font-size: pxtorem($h6);
  font-weight: normal;
  @extend %mb;
}
ul, ol {
  @extend %mb;
  ul, ol {
    margin: 0 pxtorem($lh);;
  }
}