// Base typography settings
$fz: 16px;
$lh: 28px;
$ff: sans-serif;

$h1: 24px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$h5: 14px;
$h6: 12px;

// Show vertical rythm
$verticalRythm: true;

// Grid
$wrapper: 600px;
$gutter: $lh;

// Breakpoints
$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'max': (min-width: 1200px),
  'retina': ((min-resolution: 1.3dppx))
);

// Colors
$colorText: #555;
$colorBg: #fff;
$color1: #f06;
