// Base
$baseFontSize: 16px;
$baseLineHeight: 26px;
$baseFontFamily: sans-serif;
$baseScaleFactor: 1.333;

// 1.618 - Golden section
// 1.5 - Perfect fifth
// 1.333 - Perfect fourth

// Show vertical rythm
$verticalRythm: true;

// Grid
$gridColumns: 12;
$gridMaxWidth: 1200px;
$gridGutter: $baseLineHeight;

// Breakpoints
$gridTabletStart: 480px;
$gridDesktopStart: 880px;

// Colors
$colorText: #555;
$colorBackground: #fff;
$colorMain: #f06;