// Base font settings
$fz: 14px;
$lh: 24px;
$ff: sans-serif;
$baseScaleFactor: 1.5;

// 1.618 - Golden section
// 1.5 - Perfect fifth
// 1.333 - Perfect fourth

// Show vertical rythm
$verticalRythm: false;

// Grid
$gridColumns: 12;
$gridColumnWidth: 60px;
$gridGutter: 20px;
$gridMaxWidth: auto;


// Breakpoints
$gridTabletStart: 480px;
$gridDesktopStart: 880px;

// Colors
$colorText: #555;
$colorBg: #fff;
$color1: #f06;